<%= form_with(model: bet, local: true) do |form| %>
  <% if bet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bet.errors.count, "error") %> prohibited this bet from being saved:</h2>

      <ul>
      <% bet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount, id: :bet_amount %>
  </div>

  <div class="field">
    <%= form.label :player_id %>
    <%= form.text_field :player_id, id: :bet_player_id %>
  </div>

  <div class="field">
    <%= form.label :round_id %>
    <%= form.text_field :round_id, id: :bet_round_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
